body{
    font-family: 'Oswald', sans-serif;
    background-color: gainsboro;
}

h1{
    font-size: 45px;
}
.well-come-font{
    color:orange;
} 
.one{
    display: flex;
    padding: 20px;
    margin-bottom: 100px;
}
.c-one{
   
    width: 50%;
}
.c-one img{
    width: 90%;
    height: 400px;
    padding-left: 30px;
    
}
.c-p-one
{
    text-align: justify;
    
}
.read-more-one
{
    background-image: linear-gradient( orange, tomato);
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}
.boking-hotel
{
    padding-left: 20px;
    width: 50%;

}