body{
    font-family: 'Oswald', sans-serif;
    background-color: gainsboro;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 45px;
}
.well-come-font{
    color:orange;
} 
.one{
    display: flex;
    padding: 20px;
    margin-bottom: 100px;
}
.c-one{
   
    width: 50%;
}
.c-one img{
    width: 95%;
    height: 400px;
    padding-left: 30px;
    
}
.c-p-one
{
    text-align: justify;
    
}
.read-more-one
{
    background-image: linear-gradient( orange, tomato);
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}
.boking-hotel
{
    padding-left: 20px;
    width: 50%;

}
.c-three
{
    color: orange;
    padding-left: 30px;
}
.c-four
{
    display: flex;
}
.c-d-four-one
{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    text-align: justify;
    border-left: 7px solid;
    border-image: linear-gradient( blue, cyan);
    border-image-slice:1;
}
.c-d-four-two
{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    text-align: justify;
    border-left: 7px solid;
    border-image:linear-gradient( salmon, tomato);
    border-image-slice:1; 
}
footer p{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}